@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

// FFFDDD
#nav-menu li a:hover {
    background-color: transparent !important;
    border-right: 5px solid #785B4C !important;
}

#nav-menu li a.c-active {
    border-right: 5px solid #785B4C !important;
}

#nav-menu li a i:hover {
    color: #785B4C !important;
}

.border-top {
    border-top: 3px solid #785B4C !important;
}

.c-main {
    padding-top: 0 !important;
}

.v-select-option-padding {
    padding: var(--vs-dropdown-option-padding);
}

.bg-cream {
    background-color: #FFFDDD !important;
}

.bg-brown {
    background-color: #785B4C !important;
}


.font-color-create {
    color: #FFFDDD !important;
}

.font-color-brown {
    color: #785B4C !important;
}